/patches
/natives
/.idea/
/.mixin.out/
/.fabric/
/asm
/crash-reports
/journeymap
/dumps
/libraries
/fonts
/logs
/ModTranslations
/not-enough-crashes
/resources
/saves
/screenshots
/server-resource-packs
/structures
/texturepacks
/BotaniaVars.dat
/icon.png
/minetweaker.log
/servers.dat
/options.txt
/usercache.json
/usernamecache.json
/crafttweaker.log
/config/splash.properties
/config/JEI/worldSettings.cfg
/config/AppliedEnergistics2/VersionChecker.cfg
/local
/patchouli_data.json
/realms_persistence.json
/rhino.local.properties
/kubejs/exported
/kubejs/client_scripts
/kubejs/server_scripts
/pfmUpdateInfo.json
/toomanybinds_favorites.txt
/toomanybinds_history.txt
/options.amecsapi.txt
/irisUpdateInfo.json
