/patches
minecraft/asm
minecraft/coremods
minecraft/crash-reports
minecraft/enderio
minecraft/journeymap
minecraft/logs
minecraft/saves
minecraft/screenshots
minecraft/server-resource-packs
minecraft/structures
minecraft/texturepacks
minecraft/BotaniaVars.dat
minecraft/icon.png
minecraft/minetweaker.log
minecraft/servers.dat
minecraft/options.txt
minecraft/usercache.json
minecraft/usernamecache.json