*.iml
.idea/
.mixin.out/
.fabric/
crash-reports
journeymap
logs
ModTranslations
resources
saves
schematics
screenshots
server-resource-packs
texturepacks
servers.dat
options.txt
usercache.json
usernamecache.json
local
patchouli_data.json
realms_persistence.json
rhino.local.properties
kubejs/exported
kubejs/server_scripts
pfmUpdateInfo.json
toomanybinds_favorites.txt
toomanybinds_history.txt
options.amecsapi.txt
irisUpdateInfo.json
