# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        45
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        116
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        51
        18
        -117
        82
        82
        65
        -116
        -28
        -100
        -60
        74
        -5
        -28
        -4
        -100
        -4
        34
        -37
        -14
        -116
        -52
        -110
        84
        6
        -122
        6
        -106
        -1
        -93
        0
        55
        -88
        7
        66
        92
        -64
        -2
        -1
        -1
        127
        -10
        63
        -20
        113
        73
        -1
        5
        -22
        -4
        99
        -1
        7
        -73
        60
        16
        -1
        -64
        35
        127
        31
        -120
        63
        -24
        127
        -3
        -113
        79
        -66
        -11
        -2
        124
        -68
        -50
        -25
        39
        -24
        -67
        -1
        -1
        1
        44
        -48
        11
        -38
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        45
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        90
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        51
        18
        -117
        82
        82
        65
        -116
        -28
        -100
        -60
        74
        -5
        -28
        -4
        -100
        -4
        34
        -37
        -14
        -116
        -52
        -110
        84
        6
        -122
        6
        -106
        -1
        120
        0
        3
        -61
        -1
        -1
        -8
        -27
        -65
        -1
        -89
        76
        63
        126
        -7
        -1
        127
        70
        -27
        41
        -110
        -1
        64
        56
        -4
        1
        -8
        -93
        12
        30
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        45
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        73
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        51
        18
        -117
        82
        82
        65
        -116
        -28
        -100
        -60
        74
        -5
        -28
        -4
        -100
        -4
        34
        -37
        -14
        -116
        -52
        -110
        84
        6
        -122
        6
        -106
        -1
        -93
        96
        -56
        -126
        -9
        84
        48
        3
        0
        -77
        105
        22
        57
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        114
        111
        99
        107
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        45
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        115
        116
        97
        105
        110
        101
        100
        95
        104
        97
        114
        100
        101
        110
        101
        100
        95
        99
        108
        97
        121
        63
        99
        111
        108
        111
        114
        61
        119
        104
        105
        116
        101
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        73
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        69
        22
        41
        46
        73
        4
        -14
        82
        -30
        51
        18
        -117
        82
        82
        65
        -116
        -28
        -100
        -60
        74
        -5
        -28
        -4
        -100
        -4
        34
        -37
        -14
        -116
        -52
        -110
        84
        6
        -122
        6
        -106
        -1
        -93
        96
        -64
        -128
        -3
        32
        -112
        7
        0
        -72
        -102
        18
        -119
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


