# Configuration file

clipboard {
    I:0 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        35
        97
        112
        112
        108
        105
        101
        100
        101
        110
        101
        114
        103
        105
        115
        116
        105
        99
        115
        50
        37
        51
        65
        113
        117
        97
        114
        116
        122
        95
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        77
        120
        -38
        99
        98
        82
        78
        44
        40
        -56
        -55
        76
        77
        73
        -51
        75
        45
        74
        -49
        44
        46
        -55
        76
        46
        54
        82
        53
        118
        44
        44
        77
        44
        42
        -87
        -118
        79
        -49
        73
        44
        46
        -74
        103
        16
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        1
        74
        37
        102
        22
        -39
        51
        -120
        -68
        97
        -2
        -113
        4
        24
        -80
        -128
        81
        -7
        -31
        35
        15
        0
        117
        -19
        -45
        -15
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        27
        99
        104
        105
        115
        101
        108
        37
        51
        65
        116
        121
        114
        105
        97
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        54
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        81
        120
        -38
        99
        98
        82
        78
        44
        40
        -56
        -55
        76
        77
        73
        -51
        75
        45
        74
        -49
        44
        46
        -55
        76
        46
        54
        82
        53
        118
        44
        44
        77
        44
        42
        -87
        -118
        79
        -49
        73
        44
        46
        -74
        103
        -112
        78
        -50
        -56
        44
        78
        -51
        1
        -118
        -105
        84
        22
        101
        38
        -26
        -39
        -105
        37
        2
        -87
        -110
        -52
        -4
        60
        91
        51
        6
        -122
        7
        -52
        -1
        71
        -63
        -80
        6
        0
        -102
        -30
        -9
        37
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        27
        99
        104
        105
        115
        101
        108
        37
        51
        65
        116
        121
        114
        105
        97
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        54
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        82
        120
        -38
        99
        98
        82
        78
        44
        40
        -56
        -55
        76
        77
        73
        -51
        75
        45
        74
        -49
        44
        46
        -55
        76
        46
        54
        82
        53
        118
        44
        44
        77
        44
        42
        -87
        -118
        79
        -49
        73
        44
        46
        -74
        103
        -112
        78
        -50
        -56
        44
        78
        -51
        1
        -118
        -105
        84
        22
        101
        38
        -26
        -39
        -105
        37
        2
        -87
        -110
        -52
        -4
        60
        91
        51
        6
        -122
        6
        -106
        -6
        -1
        -93
        112
        36
        67
        0
        73
        19
        -106
        -90
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        27
        99
        104
        105
        115
        101
        108
        37
        51
        65
        116
        121
        114
        105
        97
        110
        63
        118
        97
        114
        105
        97
        116
        105
        111
        110
        61
        54
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        111
        120
        -38
        99
        98
        86
        78
        44
        40
        -56
        -55
        76
        77
        73
        -51
        75
        45
        74
        -49
        44
        46
        -55
        76
        46
        54
        82
        53
        118
        44
        44
        77
        44
        42
        -87
        -118
        79
        -49
        73
        44
        46
        -74
        103
        16
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        1
        74
        37
        102
        22
        -39
        51
        72
        39
        103
        100
        22
        -89
        -26
        0
        -71
        37
        -107
        69
        -103
        -119
        121
        -10
        101
        -119
        64
        -86
        36
        51
        63
        -49
        -42
        -116
        -127
        -95
        -127
        67
        52
        52
        52
        20
        31
        -98
        74
        0
        -113
        -22
        31
        -43
        63
        -86
        127
        -24
        -22
        7
        0
        47
        79
        114
        -120
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        35
        97
        112
        112
        108
        105
        101
        100
        101
        110
        101
        114
        103
        105
        115
        116
        105
        99
        115
        50
        37
        51
        65
        113
        117
        97
        114
        116
        122
        95
        103
        108
        97
        115
        115
        63
        3
        0
        1
        115
        0
        0
        0
        16
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        77
        120
        -38
        99
        98
        82
        78
        44
        40
        -56
        -55
        76
        77
        73
        -51
        75
        45
        74
        -49
        44
        46
        -55
        76
        46
        54
        82
        53
        118
        44
        44
        77
        44
        42
        -87
        -118
        79
        -49
        73
        44
        46
        -74
        103
        16
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        1
        74
        37
        102
        22
        -39
        51
        48
        52
        -80
        -4
        -1
        -121
        3
        -62
        -64
        -88
        -4
        -80
        -106
        7
        0
        60
        -73
        17
        -112
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


