# Configuration file

general {
    # Define the number of microseconds at which an object is marked with a deep red colour
    I:GRADIENT_MAXED_OUT_AT_MICROSECONDS=25

    # What is the minimum amount of microseconds required before an object is tracked in the client?
    # This also affects the analyze results window
    I:MINIMUM_AMOUNT_OF_MICROSECONDS_THRESHOLD=1
}


