# Configuration file

~CONFIG_VERSION: 0.1.0

world-546400537 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=false

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=redst

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-78688046 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=ender ore
    B:overlayEnabled=true
}


world110306 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=quarry
    B:overlayEnabled=true
}


world1690200562 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=card
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=capac
    B:overlayEnabled=true
}


world856609915 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=armor
    B:overlayEnabled=true
}


world856678947 {
    B:cheatItemsEnabled=true
    B:editEnabled=false
    S:filterText=@rail
    B:overlayEnabled=true
}


