# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        63
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        70
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        104
        96
        -7
        79
        1
        120
        -2
        -65
        31
        -81
        -4
        103
        66
        6
        124
        -1
        63
        10
        6
        24
        0
        0
        99
        -53
        15
        62
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        2
        3
        0
        1
        115
        0
        0
        0
        61
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        62
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -112
        69
        22
        73
        47
        74
        44
        46
        -74
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        101
        96
        -8
        -61
        -4
        31
        15
        96
        0
        -126
        81
        -7
        -31
        43
        15
        0
        -64
        -80
        -48
        -122
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        3
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        72
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        48
        28
        96
        -2
        63
        10
        6
        55
        104
        -64
        2
        15
        32
        32
        0
        118
        -66
        -50
        -124
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        30
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        114
        111
        117
        110
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        3
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        67
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        -48
        68
        22
        73
        -55
        44
        42
        -79
        47
        -50
        -53
        47
        -81
        -76
        77
        75
        -52
        41
        78
        85
        43
        75
        44
        -54
        76
        -52
        43
        -79
        5
        73
        48
        48
        28
        96
        -2
        63
        10
        -122
        52
        0
        0
        -20
        -66
        -44
        -12
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


