#Configuration file for Grizzly bear mod
#Mon Jun 20 02:05:41 CDT 2022
config.version=1
debug=false
entity.angertimemax=39
entity.angertimemin=20
entity.damage=6.0
entity.follow=20.0
entity.friendly=false
entity.health=30.0
entity.speed=0.25
spawn.biomes=TAIGA
spawn.max=4
spawn.min=2
spawn.weight=50
